Resources:
  AWSEBAutoScalingLaunchTemplate:
    Type: "AWS::AutoScaling::LaunchTemplate"
    Properties:
      LaunchTemplateData:
        InstanceType: "t2.micro" # Cambia según tus necesidades
        ImageId: !Ref AWSEBAutoScalingGroupAMI
        KeyName: !Ref AWSEBKeyName
        SecurityGroupIds:
          - !Ref AWSEBSecurityGroup
